
.item-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #fdfdfd;
  padding: 10px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-wrapper__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-wrapper p {
  margin-bottom: 5px;
}

.item-wrapper__link_wrapper {
  margin-top: 20px;
}

.link-btn {
  background-color: cadetblue;
  color: #fff;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.link-btn:hover {
  background-color: rgba(95, 158, 160, 0.534);
}
