.items-list{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

.item-list__header {
  width: 100%;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.items-list__item {
  padding-left: 40px;
  padding-right: 40px;
}
.items-list__header {
  display: flex;
  justify-content: space-between;
  background-color: #d3d3d3;
  margin-top: 30px;
  padding: 10px 10px;
}

.items-list__bin-item:nth-child(even) {
  background-color: #f6f6f6;
}

.items-list__bin-item:nth-child(odd) {
  background-color: #e0e0e0;
}

.items-list__item {
display: flex;
justify-content: space-between;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
cursor: pointer;
}

.items-list__item.hover:hover {
  background-color: cadetblue;
}