.message {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;
  border-radius: 4px;
  padding: 5px 10px;
}

.error.message {  
  color: red;
  border: 1px solid red;
}

.succes.message {
  color: green;
  border: 1px solid green;
}