/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* general */
button:hover {
  cursor: pointer;
}

.app-wrapper {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

/* typography */
h1 {
  color: #000000c5;
  text-align: center;
  margin-top: 20px;
}

/* message */
.message {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;
  border-radius: 4px;
  padding: 5px 10px;
}

.error.message {  
  color: red;
  border: 1px solid red;
}

.succes.message {
  color: green;
  border: 1px solid green;
}

/* header styles */
header {
  display: flex;
  background-color: cadetblue;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header a {
  color: #fff;
  text-decoration: none;
}

.logo-wrapper {
  flex-grow: 1;
}

.logo-wrapper__heading {
  color: #fff;
}

.home-icon-wrapper {
  font-size: 30px;
  width: 10%;
}

/* home page */

.home-page-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  min-height: 100vh;
  background-color: #f1f1f1;
}

.home-page-wrapper a {
  display: block;
  text-decoration: none;
  color: #fff;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  background-color: cadetblue;
}

@media only screen and (min-width: 600px) {
  .home-page-wrapper {
    padding-top: 30px;
    column-gap: 20px;
  }
  .home-page-wrapper a {
    width: 30%;
  }
}

/* location list styles */

.location-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

/* location detail component */

.location-detail-wrapper {
  width: 90%;
  background-color: #f1f1f1;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.location-detail-title-wrapper {
  display: flex;
  justify-content: space-between ;
}

.item-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #fdfdfd;
  padding: 10px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-wrapper__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-wrapper p {
  margin-bottom: 5px;
}

.item-wrapper__icon_wrapper {
  margin-top: 20px;
}

.add-item-btn {
  background-color: cadetblue;
  color: #fff;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
}

.add-item-btn:hover {
  background-color: rgba(95, 158, 160, 0.534);
}

.delete-item-btn {
  background-color: rgb(192, 43, 43);
  color: #fff;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.delete-item-btn:hover {
  background-color: rgba(192, 43, 43, 0.493);
}

.pen-icon {
  margin-right: 10px;
}

/* search location page */
.serch-location {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.filterd-locations-wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*Item form*/

.item-form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: none;
}

.item-form.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-form input{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  
}

.item-form-input-wrapper {
  min-width: 200px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 700px ) {
  .item-form-input-wrapper {
    width: 300px;
  }
}

.item-form button {
  width: 200px;
  border: none;
  padding: 5px 10px;
  background-color: cadetblue;
  margin-top: 10px;
  color: #fff;
}

/*item search page*/

.single-search__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  text-align: center;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.single-search__form label {
  margin-right: 5px;
}

.single-search__form input {
  padding: 5px 10px;
  border: 1px solid black
}

.single-search__form button {
  background-color: cadetblue;
  padding: 5px 10px;
  border: none;
  color: white;
}

.single-search__total-qty {
  text-align: center;
  margin-top: 20px;
  color: green;
}

/* item list */

.items-list{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

.item-list__header {
  width: 100%;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.items-list__item {
  padding-left: 40px;
  padding-right: 40px;
}


/* items list */

.items-list__header {
  display: flex;
  justify-content: space-between;
  background-color: #d3d3d3;
  margin-top: 30px;
  padding: 10px 10px;
}

.items-list__item:nth-child(even) {
  background-color: #f6f6f6;
}

.items-list__item:nth-child(odd) {
  background-color: #e0e0e0;
}

.items-list__item {
display: flex;
justify-content: space-between;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
cursor: pointer;
}

.items-list__item.hover:hover {
  background-color: cadetblue;
}

 /* step counter */

 .steps-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
 }

 .step-counter__counter-heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
 }


 .steps-wrapper .step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px; 
  background-color: gray;
  color: #fff;
  border-radius: 50%;
 }

 .steps-wrapper .step.active {
  background-color: cadetblue;
 }

 .steps-wrapper .step__bar {
  height: 5px;
  flex: 1 1 0px;
  background-color: gray;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
 }

 .steps-wrapper .step__bar.active {
  background-color: cadetblue;
 }

 /* bin transfer page */

 .transfer-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
 }

 .transfer-summary p {
  margin-top: 5px;
  margin-bottom: 5px;
 }

 .transfer-summary button {
  background-color: cadetblue;
  color: #fff;
  padding: 5px 10px;
  border: none;
 }