/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* general */
button:hover {
  cursor: pointer;
}

.app-wrapper {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

/* typography */
h1 {
  color: #000000c5;
  text-align: center;
  margin-top: 20px;
}

/* search location page */
.serch-location {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.filterd-locations-wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}